
:root {
    --main-bg-color: #438eb9; 
}



/*
SELECT
*/
::ng-deep .tablecontainer select {
    border: 1px solid #438eb9  !important;
    height: 25px !important;
    border-radius: 4px !important;

}

/*
SEARCH
*/
::ng-deep .tablecontainer input[type="search"] {
    border: 1px solid #438eb9  !important;
    height: 25px !important;
    border-radius: 4px !important;

}

/*
HEADERR
*/
thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #e0e0e0;
    color: #438eb9;
}

/*
BUTTONS
*/

::ng-deep .tablecontainer .dt-button {
    border-radius: 5px !important;
    border: 0px !important;
    background-image: none !important;
    background-color: #bddef4 !important;
    background: #bddef4 !important;
    line-height: 0.6em !important;
    font-size: 1.08em !important;
  }

/*
NAV
*/
::ng-deep .tablecontainer .dataTables_paginate  a {
    line-height: 0.6em !important;
    font-size: 1.18em !important;
    margin-top: 10px;
    color: black !important;
    float: left !important;
    padding: 8px 16px !important;
    text-decoration: none !important;
    transition: background-color .3s !important;
    border-radius: 5px;
}

::ng-deep .tablecontainer .dataTables_paginate  a.current {
    color: white !important;
    border-radius: 5px;
    background-color: #bddef4 !important;
    background: #bddef4 !important;
    border: none !important;
}

::ng-deep .tablecontainer .dataTables_paginate  a:hover:not(.current) {
    background-color: #bddef4 !important;
    background: #bddef4 !important;
    border: none !important;
}

/*
INFO
*/
::ng-deep  .dataTables_info {
    color: rgba(0, 0, 0, 0.4) !important;
    line-height: 0.6em !important;
    font-size: 0.98em !important;
    margin-top: 10px;
}

/*
TD
*/
::ng-deep .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.03137254901960784) !important;
}

::ng-deep table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: rgba(189, 222, 244, 0.41) !important;
}

::ng-deep td.action
{
    white-space: nowrap
}

::ng-deep td.content { 
    white-space: nowrap
}

::ng-deep td.expand {
    width: 99%
}

thead .sorting:after {
    content: unset !important;
}


/*
Sort
*/
// ::ng-deep table.dataTable thead .sorting{
//     background-image: ur('./sort-amount-down.svg') !important;
// }

/*
Sort asc
*/

// ::ng-deep thead .sorting:after {
//     opacity: 0.2;
//     content: "\e409";
//     font-family: "Font Awesome 5 Solid";
// }

/*
Sort desc
*/

// ::ng-deep thead .sorting:after {
//     opacity: 0.2;
//     content: "\f160";
//     font-family: "Font Awesome 5 Solid";
// }




.dataTable {
    border-collapse: separate !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

::ng-deep .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #bddef4;
}

td {
    word-wrap: break-word;
}

table.dataTable.no-footer {
    border-bottom: 0px solid #111111;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

html > input[type="search"] {
    border: 1px solid #438eb9  !important;
    height: 25px !important;
    border-radius: 4px !important;
}

.dataTables_length > select {
    border: 1px solid #438eb9  !important;
    height: 25px !important;
    border-radius: 4px !important;
}

::ng-deep .ellipsis{
    display: none !important;
}

.tablecontainer{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

::ng-deep .tablecontainer .actionbtn {
    color: black !important;
    transition: background-color .3s !important;
    border-radius: 5px;
    border: none !important;
    line-height: 0.2 !important;
    padding: 0.135rem 0.20rem;
}


::ng-deep .tablecontainer .actionbtn:hover {
    background: #FFBF7A!important;
    border: none !important;
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }
  


  // Set progress bar position on panel
::ng-deep {
    .tablecontainer ng-progress {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      .ng-progress-bar {
        position: relative;
      }
    }
  }

  .hidden{
      display: none
  }